PORT=5000

MONGO_URI=mongodb+srv://atin5832_db_user:05072905@cluster0.yclpk43.mongodb.net/quan_ly_phong_tro?appName=Cluster0
JWT_SECRET=bat_ki_chuoi_nao_kho_doan_123
JWT_EXPIRES_IN=7d
BANK_CODE=MB
BANK_ACCOUNT_NUMBER=0123456789
BANK_ACCOUNT_NAME=NGUYEN VAN A

BANK_CODE=MB
BANK_ACCOUNT_NUMBER=0123456789
BANK_ACCOUNT_NAME=NGUYEN VAN A

VNP_TMN_CODE=MA_VNPAY_CUA_BAN
VNP_HASH_SECRET=CHUOI_SECRET_CUA_BAN
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5000/api/payment-transactions/vnpay-return
FRONTEND_RETURN_URL=http://localhost:5173/user/my-invoices
