PORT=5000
MONGO_URI=mongodb+srv://atin5832_db_user:05072905@cluster0.yclpk43.mongodb.net/?appName=Cluster0
JWT_SECRET=bat_ki_chuoi_nao_kho_doan_123
JWT_EXPIRES_IN=7d
BANK_CODE=MB
BANK_ACCOUNT_NUMBER=0123456789
BANK_ACCOUNT_NAME=NGUYEN VAN A